*{margin:0; padding:0; box-sizing: border-box;}
.dad {
    display: flex;
    flex-flow: column nowrap;
}
@font-face {
    font-family:'Baloo';
    src: url('tipos/Baloo_2/Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Baloo';
    src: url('tipos/Baloo_2/Baloo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src: url('tipos/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width:600px) {
    .menu {
        flex-flow: column wrap;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 2%;
    }
    nav {
        margin: 0 0 20px 0;
        justify-content: space-between;
    }
    .logo {
        margin-top: 5%;
        
    }
}

@media screen and (max-width:360px) {
    .allInformation {
        display: block;
        flex-flow: column wrap;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 2%;
    }
    .allDiv #pokeImagenes{
        flex: 1 1 auto;
        height: auto;
        margin: auto;
        display: flex;
        
    }
}
.header {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom, #46E0C3, #E0D1C0);
    background-position: center;
    background-size: cover;    
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    
}

li {
    flex: auto;
    list-style: none;
    text-align: center;
}

.logo {
    flex: 1 1 auto;
    height: 60px;
    margin-left: 5%;
    
}
ul {
    
    display: flex;
    justify-content: space-around;
}

nav{
    
    font-size: 1.3em;
    width: 70%;
    justify-content: flex-end;
    
}
nav a {
    text-decoration: none;
    line-height: 5;
    font-family: Roboto;
    font-style: Lighter;
    font-size: 24px;
    color: #333;
}

.menu nav a:hover {
    background-color: #46E0C3;
    color: #f7785a ;
}

body {
    background-image: url(bg-ppal-body.jpg);
    background-attachment: contain;
    background-repeat: no-repeat;
    background-attachment: fixed

}

.welcome  {
    display: flex;
    background-image: url(bg-ppal-pokedata.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    
}

.text-ppal {
    align-items: center;
    flex: 2 1 auto;
    height: 500px;
    margin-top: 8%;
    margin-left: 10%;
    
}

.welcome .imagen-ppal {
    flex: 1 1 auto;
    height: auto;
    margin: auto;
    display: flex;
}

.cartas {
    height: 14.375em;
    width: 9.375em;
    font-family: Lato;
    font-style: normal;
    font-size: 24px;
    color: teal;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.1);
    border-radius: 15px;
    float: left;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    align-content: center;
    padding: 10px 20px 40px 20px;
    margin: 1.25em
    
}
b {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
}
h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}
h6 {
    text-align: center; 
    background: #ffffff; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    margin: 3px 20px 4px; 
    overflow: hidden; 
    padding: 1px; 
    border-radius: 7px;
    border: 2px solid #f7785a;
}
.cartas img {
    width: 7em;
    height: 7em;
}

#selectOrdenar {
    
    margin-left: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    width: auto;
    font-size: 1.3em;
    color: white;
    padding: .6em 2.4em .5em 1.8em;
    border-radius: 10px;
    float: right;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),-webkit-gradient(linear,left top,right top,from(#f7785a),to(#fbcb66));
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),linear-gradient(to right,#f7785a 0,#fbcb66 100%);
    background-repeat: no-repeat,repeat;
    background-position: right .7em top 60%,0 0;
    
}

select option {
    color:white; background-color:#46E0C3;
}

h1 {
    font-family: 'Baloo';
    font-weight: bold;
    font-size: 64px;
    line-height: 101px;
    display: block;
    
}

h2 {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 57px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-inline-end: 10%;
}

#btnComenzar {
    width: auto;
    color: white;
    font-size: 1.3em;
    padding: .6em 2.4em .5em 1.8em;
    border-radius: 40px;
    float: left;
    background-image: url(,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),-webkit-gradient(linear,left top,right top,from(#f7785a),to(#fbcb66));
    background-repeat: no-repeat,repeat;
    background-position: right .7em top 60%,0 0;
}

.screenPokemones {
    background-image: url(bg-ppal-body.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
/* Modal Content/Box */
@media screen and (max-width:600px) {
    
    .modal {
        display: flex; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0%;
        top: 0%;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    }
    .modal #contentModal {
        background-color: #ffffff;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 50%; /* Could be more or less, depending on screen size */
        border-radius: 20px;
    }
}
.contentModal {
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 25%; /* Could be more or less, depending on screen size */
    border-radius: 30px;
}
.allDiv {
    text-align: center;
}
.allDiv h4 {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: teal;
}
.modal p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    color: teal;
}
@media screen and (max-width:780px){
    .modal #contentModal {
        background-color: #ffffff;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 60%; /* Could be more or less, depending on screen size */
        border-radius: 20px;
    }
}
#botonesData{
    display: flex;
    justify-content: center;
}
#selectFiltrar {
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    width: auto;
    font-size: 1.3em;
    color: white;
    padding: .6em 2.4em .5em 1.8em;
    border-radius: 30px;
    float: center;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),-webkit-gradient(linear,left top,right top,from(#F7785A),to(#FBCB66));
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),linear-gradient(to right,#F7785A 0,#FBCB66 100%);
    background-repeat: no-repeat,repeat;
    background-position: right .7em top 60%,0 0;
}
#selectFiltrarDebilidades {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 25%;
    width: auto;
    font-size: 1.3em;
    color: white;
    padding: .6em 2.4em .5em 1.8em;
    border-radius: 30px;
    float: right;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),-webkit-gradient(linear,left top,right top,from(#F7785A),to(#FBCB66));
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAVCAYAAABYHP4bAAACsElEQVRIia2V3U/TUBjGnyF44bf/hZIY78QLL73yyhuvjJFIDAY/IhKWKIkoihAQowElJJsXC4gIGogJUURniEgGInHKnAFRQMiIw320Xbuu7TFnvltgMFZkT9I07enpr8/T9z3Hwhg7AmAfgCAABiBAZ36tAwgD0AAIAGIAcgFYAOym8y4AmwDsoLHtAPIAbAPQC+BzUUE+LDFV3ZOblzcKYAuyKMaYd6C766CjtlIEYOQUH9o/IYtCZZYh2pehd5cctZWbAfADOfy+9ehhmxKRBrMF8v2cst0tLZ6jlCxxkN3lMSKCoLzpbC81DD28UYgsiZ6a08fb6D/L9F9ZDo2rTx/c8c5+817bCIQZhtLT0lQlCeEIFZNAhRSPDtwVgEhV4TGHGAy8+F/QpHus+VWH4wcBQgCidpeHJUEE46UsPrc1l+ma5l8vRAwGRupKCrsASNQiETKAZSCS2t/ZOj35aaycMjYlQ9eFtvrqakPXZXIi2l0ebencZSCyqdSVnOwJLfo7zILcgwMNw/2989TcHKSmPpPqKBGh9Kj+ZkVMjc5kggR+L7xuLD/7kiILpkaWFkSKfXD2+caHBi8yxlZMSkhTVb/tqvU2T4EgIn3oCq0KogijjdZzzkXffEsaDnP19dZ4P474Ka5VI8vkKBlhS0XZragsf00dX5id7n5448p77oLcKIlSXheIpE2NuxdHnX0XmGEkv1ZVlF/3reebqPM5REoXmSlQIkL79cvDvpnpBvxbMA1nV3vV3NRkiCBhWmbWVCZHyVWj7syJe7IkDs9/n3A8aax3U2TLun8t5WZ6gKSHA39C/Y9bS94+a+d3otT9GSNLiO+wpkhFBfnc/VYAO2nnzVgAS+bCcurAXpOm4uJbNt/I+Mt5caTtsVSZjS4h7oQ3p+l1MC4AfwGt53IEiULrBQAAAABJRU5ErkJggg==),linear-gradient(to right,#F7785A 0,#FBCB66 100%);
    background-repeat: no-repeat,repeat;
    background-position: right .7em top 60%,0 0;
}